nav.top-bar {
    position:fixed;
    width:100%;
    box-sizing: border-box;
    top: 0;
}
.top-bar, .top-bar *{
    background-color:darkblue;
}
* {
    background-color: brown;
}
div.intro {
    display: flex;
    align-items: center;
    justify-content: center;
}
.top-bar td {
    background-color:darkcyan;
    border: 1px;
    border-color: black;
    border-style: solid;
    border-radius: 5px;
}